body{
  background: rgb(255, 255, 255);
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px black;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

h1{
  font-size: x-large;
  text-align: center;
  color: #1a26c6;
} 

label{
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: burlywood;
  font-weight: bold;
}

input{
  display: block;
  color: black;
  background-color: aliceblue;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid brown;
  border-radius: 3px;
  font-size: 12px;
}

input[type = "radio"]{
  display: inline;
  width: 10%;
}

select{
  display: block;
  color: black;
  background-color: aliceblue;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button{
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #1a26c6;
  width: 20%;
  font-size: 16px;
}

